{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Barber Booking</title>
    <link rel="stylesheet" href="{% static "CSS/user.css" %}">
  </head>
  <body>
    <div class="nav">
        <a href="{% url 'client_profile' %}" class="nav-link">🧑 Create Profile</a>
        <a href="{% url 'search_barbers' %}" class="nav-link">🔍 Find Nearby Barbers</a>
        <a href="{% url 'user_appointments' %}" class="nav-link">📅 My Appointments</a>
        <a href="{% url 'logout' %}" class="nav-link">🚶 Logout</a>
    </div>
    

    {% comment %} <div class="content">
      <div id="findBarbers" class="page active">
        
        <h1>Find Nearby Barbers</h1>
        <input type="text" id="searchBar" placeholder="Search for barbers..." />
        
        <ul id="results"></ul>
      </div>
    </div> {% endcomment %}
    <div class="hero">
      <section class = "errorMessages">
        {% if messages %}
          {% for message in messages %}
            {% if forloop.last %}  
              <ul style="margin-left: -40px;">
              <li class="{% if message.tags == 'success' %}successMessages{% else %}errorMessages{% endif %}">
                  {{ message }}
              </li>
              </ul>
            {% endif %}
          {% endfor %}
        {% endif %}
  
      </section>
      <div class="overlay">
        <h2>Book Your Barbers Quickly and Get Services</h2>
      </div>
    </div>

    <script src="{% static 'JS/user.js' %}"></script>
  </body>
</html>
